.Heading 
{
    width: 100%;
    text-align: left;
}

.Heading h3 
{
    display: inline;
}

.Heading button
{
    float: right;
    border: 3px solid ghostwhite;
    border-radius: 3px;
}

.big_image
{
    width: 100%;

}

#start, #status
{
    font-size: 22px;
}

h4
{
    background-color: aquamarine;
    line-height: 3;
    margin: 0px;
}

.modal-dialog
{
    width: 90%;
}

.instruction-img
{
    width: 45%;
    display: inline-block;
}

video
{
    background:url('game_console-removebg-preview.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}